* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 55.67px;
  color: #fff;
}

body {
  font-family: sans-serif;
  font-size: 46px;
  line-height: 55.67px;
  color: #fff;
}

.btn {
  background-color: #343434;
  width: 137.21px;
  height: 173.48px;
  border: none;
  border-radius: 10px;
  align-items: center;
}

.btn-delete {
  background-color: #9e1c1c;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.calculator-body {
  width: 646.76px;
  height: 1228.13px;
  margin: 50px auto 0 auto;
  padding: 23.54px 18.54px;
  background-color: #17171c;
  border-radius: 20px;
}

.calculator-elements {
  /* margin: 23.54px 18.54px; */
  width: 608.84px;
  height: 1181.05px;
  display: flex;
  flex-direction: column;
  gap: 23.54px;
  /* background-color: red; */
}

.text-input {
  display: flex;
  width: 608.84px;
  height: 115.02px;
  margin: 0;
  padding: 30px;
  text-align: right;
  background-color: #343434;
  border: none;
  border-radius: 10px;
  color: #fff;
  box-shadow: none;
}

.content {
  background-color: red;
  display: flex;
}

.numbers {
  display: flex;
  flex-direction: column;
  width: 451.21px;
}

.operators {
  display: flex;
  flex-direction: column;
}
